.donors-section {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  background-color: white;
}

.donors-section-svg-content {
  display: flex;
  justify-content: center;
}

.donors-section-svg-content svg {
  aspect-ratio: 3 / 1;
  width: 100%;
}
