@import url(sanitize.css);
@import url(vars.css);
@import url(form.css);

body {
  margin: 0;
  font-family: var(--afa-font-sans-serif);
  background-color: var(--afa-white);
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
address,
article,
aside,
div,
footer,
header,
main,
section {
  display: block;
}
h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05rem;
  color: var(--afa-gray-dark);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.25rem;
  color: var(--afa-gray-dark);
}
dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}
header {
  /* padding: 0.25rem;
  margin-bottom: 0.25rem; */
  box-shadow: var(--afa-shadow);
  background-color: var(--afa-blue);
}
footer {
  padding: 3rem 0;
  background-color: var(--afa-blue);
}
footer .logo{
  margin: 0 auto;
  width: 60%;
}
footer .logo svg {
  width: 100%;
}
footer ul.nav[role=menu]{
  flex-direction: column;
  list-style: none;
}
footer h3 {
  font-size: 1.75rem;
}
address {
  font-style: normal;
  margin-bottom: .5rem;
}
address ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
p.text-bg-white, link.text-bg-white{
  font-size: 25px;
  line-height: 30px;
  font-weight: regular;
}
p.text-bg-blue, link.text-bg-blue{
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
/* p.lead {
  margin: 1.5rem 0;
} */
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
svg {
  height: 100%;
  width: 100px;
}
img,
svg {
  vertical-align: middle;
}
.lgrad_blue {
  fill: url(#lgrad_blue);
}
.fill_green {
  fill: var(--afa-green);
}
.fill_white {
  fill: var(--afa-white);
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
#phrase {
  display: unset;
}
#sn-icons svg {
  height: 24px;
  width: 24px;
}
/* navigation and sections margin */
/* section {
  margin-top: 0.75rem;
} */
.flex-wrap {
  flex-wrap: wrap !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}
.searchform,
.message {
  margin: auto;
}
#advertisment {
  padding: 3rem 0;
  margin-bottom: 1.5rem;
}
#searchAddr {
  background-image: url(../../assets/img/banner.svg);
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: var(--afa-shadow);
}
#searchAddr .container {
  padding: 3rem 0;
}
#instituteAFA {
  background: var(--afa-white);
  text-align: center;
  padding: 3rem 0;
  color: var(--afa-light);
}
#publiMessages .container {
  padding: 3rem 0;
}
.divider {
  margin: 3.7rem 0;
}
.featurette img {
  width: 100%;
}
.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.clear {
  clear: both !important;
}
.muted {
  color: var(--afa-gray);
}
.embed-youtube {
  position: relative;
  padding-bottom: 33.3%;
  overflow: hidden;
}
.embed-youtube iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-list,
.flex-list li,
.list-item,
.crew-photo,
.card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-list,
.crew-photo,
.card-image {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-list {
  padding: 0;
}
.flex-list li,
.list-item {
  flex-direction: column;
}
.sponsors img {
  width: var(--afa-card-size);
  background-color: var(--afa-gray);
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.crew li,
.crew .list-item {
  width: 220px;
  text-align: center;
  padding: 0.75rem 0;
  margin: 1rem;
}
.crew-photo {
  width: var(--afa-crew-photo-size);
  height: var(--afa-crew-photo-size);
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  /* align-content: center; */
  box-shadow: var(--afa-shadow);
}
.crew .muted::before {
  content: " - ";
}
.crew-photo img {
  width: var(--afa-crew-photo-size);
}
.cards li,
.card {
  width: var(--afa-card-size);
  min-width: var(--afa-ccard-size) px;
  background-color: var(--afa-gray-light);
  border-radius: 0.5rem;
  box-shadow: var(--afa-shadow);
  margin: 3rem;
}
.card-image {
  background-color: var(--afa-blue-light);
  align-content: center;
  padding: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card-image img {
  height: 100px;
}
.card-content h4 {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
.card-content {
  padding: 1.5rem;
}
#sn-icons {
  margin-left: auto;
}
#sn-icons a,
.muted {
  color: var(--afa-gray);
}
p {
  color: var(--afa-brown-dark);
}

/*********************** GRID **********************/
/* Section */
.section {
  clear: both;
  margin: 0px;
  padding: 0px;
}
/* Column */
.col {
  display: flex;
  margin: 0.75rem;
  flex-direction: column;
  /* background-color: beige; */
}
/* Row */
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  zoom: 1; /* For IE 6/7 */
}
/* Grid */
.col-5-5 {
  width: 100%;
}
/********************************* media queries ***********************************************/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  [class*="col-"] {
    background-color: transparent;
  }
  .col:first-child {
    margin-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .message,
  .searchform {
    width: 66%;
  }
  .order-2 {
    order: 2 !important;
  }
  .col {
    margin: 0.75rem 0;
  }
  .me-md-auto {
    margin-right: auto !important;
  }
  .divider {
    margin: 3rem 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col {
    margin-left: 10px;
  }
  .col-1-5 {
    width: 175px;
  }
  .col-2-5 {
    width: 378px;
  }
  .col-3-5 {
    width: 572px;
  }
  .col-4-5 {
    width: 750px;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
}
@media (min-width: 1200px) {
  .container, .nav-container {
    max-width: 1140px;
  }
  .col {
    margin-left: 20px;
  }
  .col-1-5 {
    width: 205px;
  }
  .col-2-5 {
    width: 400px;
  }
  .col-3-5 {
    width: 676px;
  }
  .col-4-5 {
    width: 890px;
  }
}
@media (min-width: 1400px) {
  .container, .nav-container {
    max-width: 1320px;
  }
  .col {
    margin-left: 30px;
  }
  .col-1-5 {
    width: 230px;
  }
  .col-2-5 {
    width: 510px;
  }
  .col-3-5 {
    width: 780px;
  }
  .col-4-5 {
    width: 1030px;
  }
}
